#main {
	width			  : 600px;
	margin		  : auto;
}
#editor{
  background  : lightblue;
  font-family : verdana;
  font-size   : 9pt;
}
#main td{ vertical-align: top; }
#textareaHolder {
	vertical-align	: top;
	width				: 600px;
}
#textareaHolder textarea {
	width		: 100%;
	height	: 400px;
}
#options{
}
#options > div{
	border		: 1px solid #696969;
	-border-radius				: 0 0 5px 5px;
	-moz-border-radius		: 0 0 5px 5px;
	-webkit-border-radius	: 0 0 5px 5px;
	margin-top	: 4px;
	overflow		: hidden;
}
#options div h3{
	background	: orange;
	margin 		: 0;
	padding		: 0;
	font-size	: 9pt!important;
	font-weight	: normal;
}
#options div div{
	border-top	: 1px solid #696969;
	background	: white;
	padding		: 1px;
}
#options div div input{
	width 		: 100%;
	padding		: 1px 3px;
	text-align	: right;
}
#VMC_stackHolder {
	background		: yellow;
	width				: 80px;
	padding			: 5px;
	vertical-align	: top;
}
#VMC_stackEvolution{
	vertical-align	: top;
	overflow			: auto;
}
#actionHolder{
	background	: white;
}

.stack {
	display	: inline-block;
	margin	: 3px 1px;
	width		: 78px;
}
.stack .stackItem {
	border		: 1px solid #696969;
	border-top	: 0;
	background	: white;
	margin		: 0;
	padding		: 0;
	font-family	: verdana;
	font-size	: 9pt;
	text-align	: center;
}
.stack .stackItem input {
	width			: 100%;
	text-align	: center;
	margin		: 0;
	padding		: 0;
	height		: 12px;
	border		: 0;
}
.stack .actions {
	width 	: 30px;
}
.stack .actions a{
	display				: inline-block;
	border				: 1px solid black;
	background			: white;
	margin-left			: 1px;
	padding				: 1px;
	width 				: 10px;
	height				: 10px;
	font-family			: georgia, arial;
	font-size			: 8pt;
	font-weight			: bold;
	line-height			: 9px;
	text-align 			: center;
	text-decoration	: none;
	color					: black;
}
.stack .actions a:hover{
	background	: lightgreen;
}
.stackPrint{
	display	: inline-block;
	margin	: 3px;
}
.stackPrint .stackItem {
	border		: 1px solid #696969;
	border-top	: 0;
	background	: white;
	margin		: 0;
	padding		: 2px 8px;
	font-family	: verdana;
	font-size	: 9pt;
	text-align	: center;
}

.overlay {
	display		: none;
   position		: absolute;
   z-index		: -1;
   top			: 0;
   bottom		: 0;
   left			: 0;
   right			: 0;
   background	: rgba(0, 0, 0, 0.7);
   color			: white;
}

#SSE-wrapper{
	background	: #fff;
	width			: 500px;
	margin		: auto;
	margin-top	: 50px;
	padding		: 10px;
}

#SSE {
	border		: 1px solid black;
	background	: #696969;
	font-family	: verdana;
	font-size	: 9pt;
	color			: #000;
}
#SSE td {
	background		: white;
	padding			: 2px;
	font-size		: 9pt;
	vertical-align	: top;
}
#SSE_code{ 
	width	: 200px; 
}
#SSE_actions{ 
	width				: 156px; 
	vertical-align	:top;
}
#SSE_stack{ 
	width 		: 144px; 
	text-align 	: center;
}
.overlay-instructions{
	background	: #000;
	width			: 100%:
}
.overlay-header {
	background	: lightblue!important;
	padding		  : 5px!important;
	text-align	: center;
	font-weight	: bold;
	font-size	  : 10pt!important;
}
.overlay-header-2{
	background	: lightblue!important;
	padding		  : 5px 3px!important;
}
.overlay-title {
	background	: #eaeaea!important;
	text-align	: center;
}

.SSE-code-token{
	display	: inline-block;
	padding	: 2px;
}
.SSE-current-token{
	background	: lightblue!important;
}
#SSE_evolution{
	background	: lightblue!important;
}


#menu{
  font-family : verdana, monospace;
  font-size   : 9pt;
}
#menu table{
  border-radius : 5px;
  border        : 1px solid lightblue;
  margin        : 5px auto;
  font-family   : verdana;
  font-size     : 9pt;
  overflow      : hidden;
}
#menu td{
  padding : 3px 5px;
}
#menu tr.odd{
  background  : lightblue;
}
#menu a.link{
  display         : inline-block;
  position        : relative;
  z-index         : 10;
  outline         : 0;
  border-radius   : 10px 10px 0 0!important;
  border          : 1px solid #ccc;
  border-bottom   : 0px;
  background      : #fafafa;
  margin-right    : 10px;
  padding         : 3px 8px;
  font-weight     : bold;
  text-decoration : none;
  color           : #0F6F8C;
}
#menu a.link:hover{
  background  : lightgreen;
  color       : #fff;
}
#menu a.link:focus{
  background  : rgb( 50, 190, 220 )!important;
  color       : #fff;
}
#menu a.link.selected{
  background  : orange;
  color       : #fff;
}
#menu .container{
  display       : none;
  position      : relative;
  border-radius : 10px 10px 0 0;
  border        : 1px solid #ccc;
  background    : #fafafa;
  padding       : 5px 10px;
}


#footer{
	background	: #111;
	margin 		: 20px 10px 0 10px;
	padding		: 5px 20px;
	text-align 	: right;
}
#footer a{
	font-family			: verdana, trebuchet;
	font-size			: 9pt;
	text-decoration	: none;
	color					: orange;
}
#footer a:hover{
	color					: lightgreen;
}
